@media (max-width: 992px) {
    /*HEADER*/
    .header__nav-list-item{
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
    }



    /*MODELING*/
    .modeling__title {
        width: 100%;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }

    .modeling__description {
        width: 80%;
        margin-top: 16px;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }

    .modeling__img {
        margin-top: 100px;
        margin-left: -100px;
    }

    .modeling--background {
        padding-bottom: 126px;
    }




/*ADVANTAGES*/
    .advantages {
        margin: 0;
        padding-bottom: 61px;
    }

    .advantages__description-part2 {
        margin-left: -1px;
        padding-top: 40px;
    }

    .advantages__description-part2-title {
        margin-top: 41px;
        width: 80%;
    }

    .advantages__description-part2-text {
        width: 100%;
    }

    .advantages__description-img {
        width: 100%;
        padding-top: 75px;
    }

    .advantages__list-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantages__list-description {
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
    }



    /*TEACHERS*/
    .teachers {
        padding-top: 59px;
        padding-bottom: 32px;
    }

    .teachers__list {
        gap: 21px 0;
    }



    /*COURSE*/
   
}



@media (max-width: 768px) {
    /*HEADER*/
    .header {
        padding-bottom: 12px;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .header__nav-list {
        margin-left: -57px;
        margin-top: 2px;
        padding-left: 0;
    }



    /*MODELING*/
    .modeling--background {
        padding-bottom: 128px;
    }

    .modeling__title {
        margin-top: 79px;
    }

    .modeling__description {
        width: 70%;
    }

    .modeling__right-half {
        display: none;
    }



    /*ADVANTAGES*/
    .advantages {
        padding-bottom: 40px;
    }

    .advantages__description-part1 {
        align-items: flex-start;
    }

    .advantages__description-img {
        padding-top: 81px;
    }



    /*COURSE*/
    


    /*FOOTER*/
    .footer__social-media {
        margin-top: 55px;
    }
}



@media (max-width: 576px) {
    /*HEADER*/
    .header {
        padding-bottom: 0;
    }



    /*MODELING*/
    .modeling__title {
        margin-top: 49px;
        margin-left: 14px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
    }

    .modeling__description {
        width: 100%;
        margin-top: 4px;
        margin-left: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
    }

    .modeling__btn {
        margin-top: 45px;
        margin-left: 14px;
        padding: 20px 54px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }

    .modeling--background {
        padding-bottom: 44px;
    }



    /*ADVANTAGES*/
    .advantages {
        padding-bottom: 11px;
    }

    .advantages__description-part1 {
        display: none;
    }

    .advantages__description-part2-title {
        margin-top: 10px;
        margin-left: 1px;
        width: 140%;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
    }

    .advantages__description-part2-text {
        width: 160%;
        margin-left: 1px;
        padding-top: 2px;
    }

    .advantages__list {
        flex-direction: column;
    }

    .advantages__list-item {
        margin-bottom: 22px;
        flex-direction: row;
    }

    .advantages__list-description {
        padding-top: 1px;
        margin-left: 30px;;
    }



    /*TEACHERS*/
    .teachers {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .teachers__list {
        margin-top: 27px;
    }

    .teachers__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
    }



    /*COURSE*/
    



    /*FOOTER*/
    .footer__social-media {
        margin-top: 20px;
    }
}