html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(176, 190, 197, 0.32);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

button {
    border: none;
    cursor: pointer;
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 10px;
    background-color: #fff;
    box-shadow: 0px 3.39px 5.64px 0px rgba(176, 190, 197, 0.32);
    box-shadow: 0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32);

}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.input-wrapper {
    width: 55%;
}

.input {
    width: 100%;
    padding: 8px 5px;
}


/* MODAL */
.modalka {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.32);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modalka-box {
    position: relative;
    width: 500px;
    margin: 30px 15px;
    padding: 45px;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 4px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 4px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 4px 4px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modalka.open {
    visibility: visible;
    opacity: 1;
}

.modalka.open .modalka-box {
    transform: scale(1);
}

.close-modalka {
    position: absolute;
    top: 0;
    right: 0;
}

.modalka-title {
    margin-bottom: 15px;
}

.fio-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fio-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.modalka-btns {
    display: flex;
    flex-direction: column;
}

.delete-contact-btn {
    height: 50%;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contact-item-container {
    display: flex;
    margin-top: 7px;
}

.contact-icon {
    position: relative;
    width: 16%;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container {
    width: 10%;
}

.contact-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    /* Сдвигаем тултип выше */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 100;
}

/* Table sort */
.sort-icon {
    display: inline-block;
    cursor: pointer;
}

.rotated {
    transform: rotate(180deg);
}

.sort-arrow-up svg {
    object-fit: cover;
}