@media(max-width:1798px) {
/*FOOTER*/
    .footer__form2 {
        width: 130%;
    }

    .footer__btn {
        width: 38%;
        padding: 20px 0px;
    }
}




@media (max-width: 1200px) {
    .section-offset {
        margin-bottom: 36px;
    }

    /*HEADER--**/
    .header__logo {
        width: 19%;
        padding-top: 8px;
        padding-left: 35px;
        padding-bottom: 5px;
    }

    .header__nav {
        margin-left: 95px;
    }

    .header__nav-list-item:not(:last-child) {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin-right: 46px;
    }

    .header__nav-list-item:last-child {
        margin-left: 50px;
      }

    /*START--*/
    .start {
        margin: 40px 33px 0;
    }

    .start__text1 {
        width: 100%;
        padding-top: 160px;
        font-size: 60px;
        font-weight: 800;
        line-height: 73px;
    }

    .start__text2 {
        width: 90%;
        padding-top: 18px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }

    .start__btn {
        margin-top: 60px;
        margin-bottom: 160px;
    }
    
    /*ABOUT*/

    .about-us__title {
        margin: 0;
        margin-left: 34px;
    }

    .about-us__text {
        padding-top: 19px;
        padding-left: 35px;
        margin-bottom: 60px;
        width: 95%
    }

    .about-us__list {
        flex-wrap: wrap;
    }

    .about-us__item-1 {
        min-height: 640px;
        width: 100%;
        margin: 0px 35px;
    }

    .about-us__shadow {
        width: 100%;
        height: 30.5%;
    }

    .about-us__item-2 {
        width: 100%;
        margin: 0 34px;
    }

    .about-us__svg {
        padding-left: 77px;
    }

    .about-us__block-text {
        margin: 0;
        padding-right: 30px;
    }

    /*WORK*/
    .work-fix {
        margin-top: 74px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .work__block1-text {
        width: 100%;
        padding-top: 8px;
        padding-right: 30px;
    }

    .work__block2 {
        margin-left: 30px;
    }

    .work__btn {
        margin-top: 25px;
    }

    /*QUESTIONS*/
    .questions-fix {
        margin-top: 80px;
        margin-left: 35px;
    }

    .questions__list {
        flex-wrap: wrap;
    }

    .questions__list-item {
        width: 100%;
        margin-right: 32px;
        padding-top: 63px;
        margin-bottom: 30px;
    }

    .questions__list-descr {
        width: 92%;
    }

    /*FOOTER*/
    .footer__container {
        margin-top: 47px;
        margin-left: 30px;
        margin-right: 35px;
    }

    .footer__logo {
        margin-left: 5px;
    }

    .footer__svg {
        margin-left: 5px;
    }

    .footer__blocks-form {
        width: 65%;
        margin-left: 122px;
    }

    .footer__form-text {
        max-height: 150px;
    }

    .footer__form2 {
        width: 100%;
    }

    .footer__btn {
        width: 44%;
        padding: 20px 0px;
        font-size: 15px;
    }

    .footer__text {
        display: none;
    }
}




@media (max-width: 1024px) {
    /*HEADER*/
    .header__logo {
        width: 20%;
        padding: 0;
        padding-left: 34px;
    }

    .header__logo-title {
        padding-top: 17px;
    }

    .header__nav {
        margin-left: 20px;
    }

    .header__link {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .header__nav-list-item:not(:last-child) {
        margin-top: 7px;
        margin-right: 12px;
        margin-left: 14px;
    }

    .header__nav-list-item:last-child {
        margin-left: 27px;
        margin-top: 6px;
    }

    /*START*/
    .start__text1 {
        padding: 0;
        padding-left: 43px;
        padding-top: 158px;
        font-size: 50px;
        font-weight: 800;
        line-height: 61px;
    }

    .start__text2 {
        padding: 0;
        padding-left: 42px;
        padding-top: 16px;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
    }

    .start__btn {
        margin-left: 43px;
    }

    /*ABOUT-US*/
    .about-us__text {
        padding-top: 21px;
        margin-bottom: 54px;
    }

    .about-us__item-1 {
        min-height: 650px;
    }

    .about-us__shadow {
        padding: 0 40px;
    }

    .about-us__shadow-text {
        margin-top: 36px;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
    }

    .about-us__block {
        padding-top: 35px;
    }

    .about-us__svg {
        width: 58%;
        padding-top: 31px;
        padding-left: 42px;
    }

    .about-us__descr {
        width: 86%;
        padding-bottom: 32px;
    }

    .about-us__block-text {
        margin: 0;
        padding-left: 12px;
    }

    .about-us__block-text__fix {
        margin: 0;
        padding-left: 19px;
    }

    /*WORK*/
    .work-fix {
        margin-top: 51px;
    }

    .work__title {
        margin-bottom: 30px;
    }
    
    .work__blocks {
        flex-direction: column-reverse;
    }

    .work__block2 {
        min-height: 284px;
        margin: 0;
        margin-bottom: 39px;
        border-radius: 24px;
    }

    /*QUESTIONS*/
    .questions__list-item {
        margin-bottom: 0;
        margin-bottom: 33px;
        padding-top: 33px;
        padding-left: 39px;
    }

    .questions__list-descr {
        width: 90%;
        padding-top: 9px;
        padding-bottom: 32px;
    }

    /*FOOTER*/
    .footer__blocks {
        flex-direction: column-reverse;
    }

    .footer__adaptive {
        flex-direction: column-reverse;
    }

    .footer__blocks-form {
        width: 80.5%;
        margin-top: 3px;
        margin-left: 5px;
    }

    .footer__logo {
        width: 104%;
        margin-bottom: 0;
    }

    .footer__svg {
        margin-top: 7px;
    }

    .footer__links {
        display: none;
    }
}




@media (max-width: 768px) {
    .section-offset {
        margin-bottom: 60px;
    }

    /*HEADER*/
    .header__nav-list {
        margin: 0;
        overflow-x: auto;
        padding-top: 1px;
        padding-bottom: 15px;
    }

    .header__container {
        flex-direction: column;
        position: relative;
    }

    .header__logo {
        padding: 0;
        padding-top: 5px;
        width: 38%;
    }

    .header__nav {
        margin: 0;
        margin-left: -6px;
    }

    .header__link {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;   
    }

    .header__nav-list-item:not(:last-child) {
        margin: 0;
        flex-shrink: 0;
        margin-right: 11px;
    }

    .header__nav-list-item:last-child {
        position: absolute;
        top: 18%;
        right: 5%;
    }

    /*START*/
    .start {
        display: flex;
        flex-direction: column;
        margin: 44px 0;
        border-radius: 16px;
        align-items: center;
    }

    .start__text1 {
        padding: 0;
        padding-top: 60px;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
    }

    .start__text2 {
        width: 100%;
        padding: 0;
        padding-top: 7px;
        padding-left: 2px;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
    }

    .start__btn {
        width: 164px;
        margin: 0;
        margin-top: 33px;
        margin-bottom: 59px;
        padding: 13px 29px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
    }

    /*ABOUT-US*/
    .about-us__title {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }

    .about-us__text {
        width: 100%;
        padding: 0;
        padding-top: 20px;
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    .about-us__list {
        margin: 0;
    }

    .about-us__item-1 {
        min-height: 200px;
        width: 100%;
        margin: 0;
        border-radius: 16px;
        }

    .about-us__shadow {
        height: 0;
        padding: 0;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    .about-us__shadow-text {
        width: 100%;
        margin: 0;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: #000;
    }

    .about-us__shadow-btn {
        margin-top: 11px;
        padding: 10px 41px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        color: #FF9900;
    }

    .about-us__shadow-btn:hover {
        background-color: #FF9900;
        color: #FFFFFF;
        transition: 1s;
    }

    .about-us__shadow-btn:focus {
        background-color: #FF9900;
        border-color: #FF9900;
        color: #FFFFFF;
        transition: 1s;
    }

    .about-us__shadow-btn:active {
        background-color: #E1670E;
        border-color: #E1670E;
        color: #FFFFFF;
        transition: 1s;
    }

    .about-us__item-2 {
        margin: 0;
        margin-top: 197px;
    }

    .about-us__block {
        flex-direction: column;
        padding: 0;
        border: none;
    }

    .about-us__svg {
        width: 22%;
        padding: 0;
    }

    .about-us__block-text {
        padding: 0;
    }

    .about-us__svg-title {
        padding-top: 2px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }

    .about-us__descr {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    /*WORK*/
    .work-fix {
        margin: 0;
    }

    .work__title {
        margin-bottom: 18px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }

    .work__block2 {
        min-height: 160px;
        margin-bottom: 0;
        border-radius: 16px;
    }

    .work__block1-title {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
    }

    .work__block1-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    .work__btn1 {
        padding: 11px 44px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
    }

    .work__btn2 {
        margin: 0;
        margin-left: 6px;
        padding: 11px 31px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    /*QUESTIONS*/
    .questions-fix {
        margin: 0;
    }

    .questions__title {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }

    .questions__list-item {
        margin: 0;
        padding: 0;
        border: none;
    }

    .questions__list-item:not(:nth-child(3n)) {
        margin: 0;
    }

    .questions__list-title {
        width: 100%;
        padding-top: 20px;
        padding-left: 1px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }

    .questions__list-descr {
        width: 92%;
        margin: 0;
        padding-left: 1px;
        padding-top: 4px;
        padding-bottom: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    /*FOOTER*/
    .footer__container {
        margin: 0;
        margin-top: 48px;
    }

    .footer__blocks-form {
        width: 100%;
        margin: 0;
    }

    .footer__form-title {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }

    .footer__form-name {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
    }

    .footer__form-email {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
    }

    .footer__form-text {
        padding-left: 20px;
        margin-bottom: 25px;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
    }

    .footer__form2 {
        flex-direction: column;
    }

    .footer__btn {
        width: 56%;
        padding: 12px 19px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
    }

    .footer__label {
        margin-top: 12px;
    }

    .footer__checkbox-descr {
        padding: 0;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }

    .footer__checkbox-descr::after {
        left: -2px;
    }

    .footer__checkbox-descr::before {
        left: -2px;
    }

    .footer__blocks-item {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        width: 47%;
        margin: 0;
        margin-top: 40px;
        margin-left: 78px;
        position: relative;
    }

    .footer__logo::before {
        content: "";
        position: absolute;
        left: -76px;
        top: -15px;
        width: 211%;
        height: 1px;
        background-color: #414141;
    }

    .footer__svg {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .footer__svg-item {
        width: 40px;
    }
}